@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main,
#section3 {
    background: linear-gradient(to bottom, #fbeced 70%, #fff 30%);
}
